/packages/amesos/            @teststacey/childteam2
/packages/amesos2/           @teststacey/childteam2
/packages/anasazi/           @teststacey/childteam2
/packages/aztecoo/           @teststacey/childteam2
/packages/belos/             @teststacey/childteam2
/packages/claps/             @teststacey/childteam2
/packages/domi/              @teststacey/childteam2
/packages/epetra/            @teststacey/childteam2
/packages/epetraext/         @teststacey/childteam2
#/packages/fei/               @teststacey/
#/packages/galeri/            @teststacey/
/packages/globipack/         @teststacey/childteam2
/packages/ifpack/            @teststacey/childteam2
/packages/ifpack2/           @teststacey/childteam2
/packages/intrepid/          @teststacey/childteam2
/packages/intrepid2/         @teststacey/childteam2
/packages/isorropia/         @teststacey/childteam2
/packages/kokkos/            @teststacey/childteam2
/packages/kokkos-kernels/    @teststacey/childteam2
/packages/komplex/           @teststacey/childteam2
#/packages/meshinggenie/      @teststacey/
#/packages/minitensor/        @teststacey/
/packages/ml/                @teststacey/childteam2
/packages/moertel/           @teststacey/childteam2
/packages/muelu/             @teststacey/childteam2
/packages/new_package/       @teststacey/childteam2
/packages/nox/               @teststacey/childteam2
/packages/optipack/          @teststacey/childteam2
/packages/pamgen/            @teststacey/childteam2
/packages/panzer/            @teststacey/codeowners
/packages/phalanx/           @teststacey/childteam2
#/packages/pike/              @teststacey/
/packages/piro/              @teststacey/childteam2
/packages/pliris/            @teststacey/childteam2
/packages/PyTrilinos/        @teststacey/childteam2
/packages/rol/               @teststacey/childteam2
/packages/rtop/              @teststacey/childteam2
/packages/rythmos/           @teststacey/childteam2
/packages/sacado/            @teststacey/childteam2
/packages/seacas/            @teststacey/childteam2
/packages/shards/            @teststacey/childteam2
/packages/shylu/             @teststacey/childteam2
/packages/stk/               @teststacey/childteam2
/packages/stokhos/           @teststacey/childteam2
/packages/stratimikos/       @teststacey/childteam2
/packages/teko/              @teststacey/childteam2
/packages/tempus/            @teststacey/childteam2
/packages/teuchos/           @teststacey/childteam2
#/packages/ThreadPool/        @teststacey/
/packages/thyra/             @teststacey/childteam2
/packages/tpetra/            @teststacey/childteam2
/packages/TriKota/           @teststacey/childteam2
#/packages/trilinoscouplings/ @teststacey/
#/packages/trios/             @teststacey/
/packages/triutils/          @teststacey/childteam2
/packages/xpetra/            @teststacey/childteam2
/packages/zoltan/            @teststacey/childteam2
/packages/zoltan2/           @teststacey/childteam2
